body {
    background-image: url('img/istockphoto-1335281315-170667a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

header {
    background-color: #556B2F;
    font-size: 32px;
    text-align: center;
    padding: 0.5rem;
}

.conteudo {
    height: 90vh;
}

.btn-logout,
.btn-voltar {
    position: absolute;
    right: 2.5%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: #FFFFFF;
    border-radius: 30%;
    border: none;
    cursor: pointer;
}

.inicio,
.login,
.cadastro,
.recupera {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 1rem;
    position: absolute;
    right: 8%;
    top: 35%;
}

input,
select {
    margin: 0.5rem 0 1rem;
    border-radius: 8px;
    padding: 0.2rem 0.5rem;
    border: 2px solid #000000;
}

#btn-entrar {
    margin-right: 0.5rem;
}

#btn-entrar,
#btn-cadastrar,
#btn-enviar,
#btn-cad,
#btn-recuperar,
.btn-confirma {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: #556B2F;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;
}

#btn-entrar:hover,
#btn-cadastrar:hover,
#btn-enviar:hover,
#btn-cad:hover,
#btn-recuperar:hover,
.btn-confirma:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#btn-cad,
#btn-recuperar,
#btn-enviar {
    align-self: flex-end;
    min-width: 45%;
}

.btn-recupera-senha {
    border: none;
    background: none;
    margin: 1rem 0 0;
    font-size: 14px;
    cursor: pointer;
    align-self: center;
}

.btn-recupera-senha:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
}

footer>p {
    font-weight: bold;
    text-align: center;
    padding: 0.3rem;
    background-color: #556B2F;
    display: inline;
    border-radius: 8px;
}

#input-manha {
    margin: 0.5rem 0.5rem 1rem 0;
}

#input-tarde {
    margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.popUp-marcado {
    background-color: #FFFFFF;
    width: 35%;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 30%;
    border: 5px solid #556B2F;
    box-shadow: inset 0px 0px 8px 5px #556B2F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-confirma {
    display: block;
    margin-top: 1rem;
    width: 80%;
}